body {
    background-color: rgb(39, 39, 39);
    margin: 0;
}

header nav ul {
    padding: none;
}

nav ul {
    list-style-type: none;
    padding: none;
}

a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    background-color: rgb(39, 39, 39);
    border: 0.5px solid rgb(104, 104, 104);
    border-radius: 20px;
    width: 400px;
    height: 30px;
    margin: 20px;
}

.button {
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 10px;
}

p {
    color: white;
}

footer {
    background-color: black;
}
